<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AppTitle" value="Southeast Audit Services, Inc."/>
    <add key="ConnectionString" value="Data Source=XX.com;Initial Catalog=Audit;Integrated Security=False;User ID=XX;Password=XX;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />

    <add key="SFTPHost" value="xx"/>
    <add key="SFTPUsername" value="xx"/>
    <add key="SFTPUserPassword" value="xx"/>
    <add key="SFTPDirPath" value="xx"/>
    <add key="SFTUploadDirPath" value="xx"/>
    
  </appSettings>
</configuration>
